{:paths []
 :deps {org.clojure/clojure {:mvn/version "1.10.0-beta5"}
        org.clojure/core.typed.rt {:local/root "module-rt"
                                   :deps/manifest :deps}
        org.clojure/core.typed.infer {:local/root "module-infer"
                                      :deps/manifest :deps}
        org.clojure/core.typed.analyzer.jvm {:git/url "https://github.com/typedclojure/core.typed.analyzer.jvm"
                                             :sha "6d2638339c543d47382b0af70fc40bc6c34a45cb"
                                             :deps/manifest :deps}
        org.clojure/core.typed {:local/root "module-check"
                                :deps/manifest :deps}}}
