{:paths []
 :deps {org.clojure/clojure {:mvn/version "1.10.0-beta5"}
        org.clojure/core.typed.runtime.jvm {:git/url "https://github.com/typedclojure/core.typed.runtime.jvm.git"
                                            :sha "36023c890d0a99f36139fb489af0b5f4c9431c8d"
                                            :deps/manifest :deps}
        org.clojure/core.typed.annotator.jvm {:git/url "https://github.com/typedclojure/core.typed.annotator.jvm.git"
                                              :sha "4fd41dcad8edfdae38e79ed271a8b0ae432c85f7"
                                              :deps/manifest :deps}
        org.clojure/core.typed.analyzer.jvm {:git/url "https://github.com/typedclojure/core.typed.analyzer.jvm"
                                             :sha "6d2638339c543d47382b0af70fc40bc6c34a45cb"
                                             :deps/manifest :deps}
        org.clojure/core.typed.checker.jvm {:git/url "https://github.com/typedclojure/core.typed.checker.jvm"
                                            :sha "e934f2019731f033781ae7387cc5d9e2b816717b"
                                            :deps/manifest :deps}}}
